<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Archangelic's Random DND Character generator</title>
<style>
body {
    color: white;
    background: #D93434;
}
.boxed {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
}
a:link {
    color: lightgray;
}
a:visited {
    color: lightgray;
}
a:hover {
    color: lightgray;
}
</style>
</head>

<body>
    <h1>DnD Character Generator</h1>
    <div class="boxed">
        {{ snippet }}
    </div>
    <form><input type=button value="Generate" onClick="window.location.reload()"></form>
    <p> go to <a href="http://cyber.archangelic.space/dnd/snippet">http://cyber.archangelic.space/dnd/snippet</a> for a random plaintext dnd character generated using tracery</p>
    <p><a href="https://github.com/archangelic/cyber_hook">Source Code</a></p>
    <p>by <a href="https://cybre.space/@archangelic">archangelic</a></p>
</body>
</html>
