<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Archangelic's Magic Tome Generator</title>
<style>
body {
    color: #f9bf3b;
    background: #9f3cd6;
}
a:link {
    color: #f9bf3b;
}
a:visited {
    color: #f9bf3b;
}
a:hover {
    color: #f5d76e;
}
.boxed {
    border: 1px solid;
    display: inline-block;
    padding: 10px;
}
</style>
</head>

<body>
    <h1>Magic Tome Generator</h1>
    <div class="boxed">
        {{ snippet }}
    </div>
    <form><input type=button value="Generate" onClick="window.location.reload()"></form>
    <p> go to <a href="http://cyber.archangelic.space/magic/snippet">http://cyber.archangelic.space/magic/snippet</a> for a random plaintext magic tome generated using tracery</p>
    <p><a href="https://github.com/archangelic/cyber_hook">Source Code</a></p>
    <p>by <a href="https://cybre.space/@archangelic">archangelic</a></p>
</body>
</html>
